beautifulsoup4==4.12.3
cohere==4.50
editdistance==0.6.2
jsonlines==3.1.0
langchain==0.1.9
langchain_experimental==0.0.52
modal==0.57.53
pandas==1.5.1
peft==0.3.0
pytest==7.4.0
Requests==2.31.0
SQLAlchemy==2.0.13
streamlit==1.27.2
supabase==2.3.6
torch==2.0.1
tqdm==4.64.1
transformers==4.23.1
